.logincontainer{
    font-family: Arial;

    line-height: auto;

    background-color: #242424;

    text-align: center;

    box-sizing: border-box;
    position: absolute;
    width: fit-content;

    padding: 20px;
    top: 50%;
    left: 50%;

    border: 1px solid #37c7cc;
    
    transform: translate(-50%, -50%);
}

.text_input{
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 5px;
    width: 100%;
}

.button{
    background-color: #00a9a9;
    color: white;
    
    border: none;
    border-radius: 2px;

    width: 100%;
}