.container{
    font-family: Arial;
    line-height: 5px;

    background-color: #242424;

    box-sizing: border-box;
    position: relative;

    width: 80vw;
    height: 90vh;

    overflow-y: auto;

    -ms-overflow-style: none;
    scrollbar-width: none;
    left: 10vw;

    margin-left: none;
    margin-right: none;
    padding: 20px;

    box-shadow: -1px 2px 1px 1px rgba(0, 0, 0, 0.25), 1px 2px 1px 1px rgba(0, 0, 0, 0.25);
}

.container::-webkit-scrollbar {
    display: none;
  }