.container{
    font-family: Arial;
    line-height: 5px;

    background-color: #242424;

    box-sizing: border-box;
    position: relative;

    width: 80vw;
    height: 90vh;

    overflow-y: auto;

    -ms-overflow-style: none;
    scrollbar-width: none;
    left: 10vw;

    margin-left: none;
    margin-right: none;
    padding: 20px;
}

.container::-webkit-scrollbar {
    display: none;
  }